body, html {
    height: 100%;
    margin: 0;
}

span {
    white-space: pre;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 20%; /* Adjust the width of the sidebar as needed */
    padding: 10px; /* Adjust padding as needed */
    border: 1px solid #ccc; /* Optional: Add a border for clarity */
    margin: 10px; /* Optional: Add margin between content blocks */
    background-color: #eee;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: row; /* Stack the content blocks vertically */
}

.item {
    flex: 1; /* Each content block takes up equal space */
    padding: 10px; /* Adjust padding as needed */
    border: 1px solid #ccc; /* Optional: Add a border for clarity */
    margin: 10px; /* Optional: Add margin between content blocks */
    background-color: #eee;
}

.request-item {
    cursor: pointer;
}

