<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script src="htmx.min.js"></script>
    <title>RefactorHelper</title>
</head>
<body>

<div class="container">

    <div class="sidebar">
        <div>
            <button id="refresh-button"
                    hx-get="[REFRESH_URL]"
                    hx-swap="innerHTML"
                    hx-target="#result-container">
                Retry current Request
            </button>
        </div>

        <div hx-get="[REQUEST_LIST_URL]"
             hx-swap="innerHTML"
             hx-trigger="load">
        </div>
    </div>

    <div class="content" id="result-container">
        [CONTENT_BLOCK]
    </div>

</div>

</body>
</html>