
body, html {
    --main-color-dark: #1b3b5c;
    --main-color-light: #5982ab;
    --main-color-lightest: #9db4cc;

    --text-color-dark: #222;
    --text-color-light: #ddd;

    --border-color: #222;

    --banner-height: 3.5em;

    --margin: 10px;
    --margin-half: calc(var(--margin) * .5);

    --padding-large: 20px;
    --padding: 8px;
    --padding-small: 3px;
    
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main-color-light);
    color: var(--text-color-dark);

    border-color: var(--border-color)
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

/* Side-Bar */
.side-bar {
    width: 20%;
    margin: var(--margin);
    margin-right: var(--margin-half);
    display: flex;
    flex-direction: column;
}

.side-bar-header {
    flex: 1;
    max-height: var(--banner-height);
    display: flex;
    flex-direction: row;
}

.side-bar-header-item {
    flex: 1;
}

.side-bar-header-button {
    width: 100%;
    height: 100%;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid var(--border-color);
    background-color: var(--main-color-dark);
    color: var(--text-color-light);
}

/* Sidebar content*/
.side-bar-content {
    background-color: var(--main-color-light);
    flex:1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.side-bar-group-header {
    margin-top: var(--margin);
    background-color: var(--main-color-dark);;
    color: var(--text-color-light);
    padding: var(--padding);
    font-size: larger;
    border: 1px solid var(--border-color);
}

.side-bar-group-content > ul  {
    margin: 0px;
    padding: 0px;
}

.side-bar-group-content > ul > li {
    display: block;
    border: 1px solid;
    background-color: var(--main-color-lightest);
    padding: var(--padding-small);;
}

/* Main content*/
.main-box {
    width: 80%; 
    margin: var(--margin);
    margin-left: var(--margin-half);
    display:flex;
    flex-direction: column;
}

.header {
    height: var(--banner-height);
    background-color: var(--main-color-dark);
    display: flex;
    flex-direction: row;
}

.header-title-container {
    flex: 1;
    display:flex;
    border: 1px solid var(--border-color);
    padding: var(--padding-small);
    flex-direction: column;
    justify-content: center;
}

.header-title {
    color: var(--text-color-light);
    font-size: 2em;
    margin-left: .5em;
}

.header-item {
    flex: 1;
    max-width:8em;
}

.content-box {
    flex: 1;
    display: flex;
    gap: var(--margin);
}

.result-container {
    flex: 1;
    border: 1px solid var(--border-color);
    margin-top: var(--margin);
    background-color: var(--main-color-lightest);
}

.result-container-header {
    background-color: var(--main-color-dark);
    color: var(--text-color-light);
    padding: var(--padding-large);
}

.result-container-header h1 {
    margin-top: 0px;
}


/* code display */
span {
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
    overflow-wrap: anywhere;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: row; /* Stack the content blocks vertically */
}

.item {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px 10px 10px 5px;
    background-color: #eee;
    overflow-y: scroll;
}

.request-item {
    cursor: pointer;
}

.addition {
    background: #87d49c;
}

.removal {
    background: #d49696;
}

.hidden-addition {
    background: #d49696;
}

.hidden-removal {
    background: #87d49c;
}
