<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="styles.css">
      <script src="/run-refactor-helper/htmx.min.js"></script>
      <title>RefactorHelper</title>
      <style>
         .htmx-indicator {
         opacity: 0
         }
         .htmx-request .htmx-indicator {
         opacity: 1;
         transition: opacity 200ms ease-in;
         }
         .htmx-request.htmx-indicator {
         opacity: 1;
         transition: opacity 200ms ease-in;
         }
      </style>
   </head>
   <body>
      <div class="container">
         <div class="side-bar">
            <div class="side-bar-header">
               <div class="side-bar-header-item">
                  <button class="header-button">Requests</button>
               </div>
               <div class="side-bar-header-item">
                  <button class="header-button" id="settings-button" hx-get="/run-refactor-helper/fragment/settings" hx-swap="innerHTML" hx-replace-url="/run-refactor-helper/settings" hx-target="#main-content">
                  Settings
                  </button>
               </div>
            </div>
            <div id="side-bar-content" class="side-bar-content" hx-get="/run-refactor-helper/fragment/request-list" hx-swap="innerHtml" hx-trigger="refresh-request-list from:body, load">
               <div class="side-bar-group">
                  <button class="side-bar-group-header" onclick="collapse(this)">Settings</button>
                  <div class="side-bar-group-content">
                     <ul>
                        <li><span class="request-item" hx-get="/run-refactor-helper/fragment/1" hx-replace-url="/run-refactor-helper/1" hx-swap="innerHTML" hx-target="#main-content">Export Settings</span></li>
                        <li><span class="request-item" hx-get="/run-refactor-helper/fragment/1" hx-replace-url="/run-refactor-helper/1" hx-swap="innerHTML" hx-target="#main-content">Import Settings</span></li>
                        <li><span class="request-item" hx-get="/run-refactor-helper/fragment/1" hx-replace-url="/run-refactor-helper/1" hx-swap="innerHTML" hx-target="#main-content">Replace Values</span></li>
                     </ul>
                  </div>
               </div>
            </div>
            <div id="side-bar-content" class="side-bar-content" hx-get="/run-refactor-helper/fragment/request-list" hx-swap="innerHtml" hx-trigger="refresh-request-list from:body, load">
                <div class="side-bar-group">
                   <button class="side-bar-group-header" onclick="collapse(this)">Parameters</button>
                   <div class="side-bar-group-content">
                      <ul>
                         <li><span class="request-item" hx-get="/run-refactor-helper/fragment/1" hx-replace-url="/run-refactor-helper/1" hx-swap="innerHTML" hx-target="#main-content">Default Parameters</span></li>
                         <li><span class="request-item" hx-get="/run-refactor-helper/fragment/1" hx-replace-url="/run-refactor-helper/1" hx-swap="innerHTML" hx-target="#main-content">Run 0</span></li>
                         <li><span class="request-item" hx-get="/run-refactor-helper/fragment/1" hx-replace-url="/run-refactor-helper/1" hx-swap="innerHTML" hx-target="#main-content">Run 1</span></li>
                      </ul>
                   </div>
                </div>
             </div>

         </div>
         <div class="main-box">
            <div class="header">
               <div class="header-title-container">
                  <div class="header-title">RefactorHelper</div>
               </div>
               <div class="header-item">
                  <button class="header-button" onclick="window.location.href='/run-refactor-helper/reset';">
                  Reset
                  </button>
               </div>
               <div class="header-item">
                  <button class="header-button" id="retry-all-button" hx-get="/run-refactor-helper/fragment/run-all" hx-swap="innerHTML" hx-target="#main-content">
                  Run All
                  </button>
               </div>
               <div class="header-item">
                  <button class="header-button" id="refresh-button" hx-get="/run-refactor-helper/fragment/retry" hx-swap="innerHTML" hx-target="#main-content">
                  Run
                  </button>
               </div>
               <div class="header-item">
                  <button class="header-button">Mode</button>
               </div>
            </div>
            <div class="content-box" id="main-content">
               <div class="result-container">
                  <div class="result-container-header">
                     <h1>Url Parameters</h1>
                  </div>
                  <div class="result-container-body">
                     <div hx-target="this" hx-swap="outerHTML">
                        <div>
                           <div><label>customerId</label>: 400721</div>
                        </div>
                        <div>
                           <div><label>accountId</label>: {accountId}</div>
                        </div>
                        <button hx-get="/run-refactor-helper/fragment/settings/UrlParameters?allowEdit=True" class="btn btn-primary">
                        Click To Edit
                        </button>
                     </div>
                     <!--<form hx-put="/run-refactor-helper/fragment/forms/save/UrlParameters" hx-target="this" hx-swap="outerHTML">
                        <div>
                        <div><label>customerId</label>: 400721</div>
                        </div>
                        
                        
                        <div>
                        <div><label>accountId</label>: {accountId}</div>
                        </div>
                        
                        
                        
                        <button class="btn">Submit</button>
                        <button class="btn" hx-get="/run-refactor-helper/fragment/settings/UrlParameters?allowEdit=True">Cancel</button>
                        </form>-->
                  </div>
               </div>
               <div class="result-container">
                  <div class="result-container-header">
                     <h1>Query Parameters</h1>
                  </div>
                  <div class="result-container-body">
                     <div hx-target="this" hx-swap="outerHTML">
                        <div>
                           <div><label>message</label>: {message}</div>
                        </div>
                        <button hx-get="/run-refactor-helper/fragment/settings/QueryParameters?allowEdit=True" class="btn btn-primary">
                        Click To Edit
                        </button>
                     </div>
                     <!--<form hx-put="/run-refactor-helper/fragment/forms/save/QueryParameters" hx-target="this" hx-swap="outerHTML">
                        <div>
                        <div><label>message</label>: {message}</div>
                        </div>
                        
                        
                        
                        <button class="btn">Submit</button>
                        <button class="btn" hx-get="/run-refactor-helper/fragment/settings/QueryParameters?allowEdit=True">Cancel</button>
                        </form>-->
                  </div>
               </div>
               <div class="result-container">
                  <div class="result-container-header">
                     <h1>Replace Values</h1>
                  </div>
                  <div class="result-container-body">
                     [REPLACE_VALUES]
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script>
         function collapse(e) {
             var content = e.nextElementSibling;
             content.classList.toggle("item-hidden");
         }
         
      </script>
   </body>
</html>