body {
    background-color: black;
    color: white;
}

span {
    white-space: pre;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex; /* or inline-flex */
}

.item {
    flex-grow: 1;
    height: 100px;
}
