<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/run-refactor-helper/styles.css" />
    <script src="/run-refactor-helper/htmx.min.js"></script>
    <title>API Diff Checker</title>
</head>
<body>
    <div class="container">

        <div class="side-bar">
            <div class="side-bar-header">
                <div class="side-bar-header-item">
                    <button class="header-button"
                            id="settings-button"
                            hx-get="[REQUEST_FRAGMENT_URL]"
                            hx-swap="innerHTML"
                            hx-replace-url="[ROOT_URL]"
                            hx-target="#main-content">
                        Requests
                    </button>
                </div>
                <div class="side-bar-header-item">
                    <button class="header-button"
                            id="settings-button"
                            hx-get="[SETTINGS_FRAGMENT_URL]"
                            hx-swap="innerHTML"
                            hx-replace-url="[SETTINGS_URL]"
                            hx-target="#main-content">
                        Settings
                    </button>
                </div>
            </div>

            <div id="side-bar-content">
                [SIDEBAR_CONTENT]
            </div>

        </div>

            <div class="main-box">
                <div class="header">
                    <div class="header-title-container">
                        <div class="header-title">API Diff Checker</div>
                    </div>
                    <div class="header-item">
                        <button class="header-button"
                                onclick="window.location.href='[RESET_URL]';">
                            Reset
                        </button>
                    </div>
                    <div class="header-item">
                        <button class="header-button"
                                id="retry-all-button"
                                hx-get="[RETRY_ALL_URL]"
                                hx-swap="innerHTML"
                                hx-target="#main-content">
                            Run All
                        </button>
                    </div>
                    <div class="header-item">
                        <button class="header-button"
                                id="refresh-button"
                                hx-get="[RETRY_REQUEST_URL]"
                                hx-swap="innerHTML"
                                hx-target="#main-content">
                            Run
                        </button>
                    </div>
                    <div class="header-item">
                        <button class="header-button">Mode</button>
                    </div>
                </div>

                <div class="content-box" id="main-content">
                    [CONTENT_BLOCK]
                </div>
            </div>
        </div>

    <script>

        function collapse(e) {
            var content = e.nextElementSibling;
            content.classList.toggle("item-hidden");
        }

        document.body.addEventListener("loadSidebar", function (evt) {
            htmx.ajax('GET', evt.detail.value, { target: '#side-bar-content', swap: 'outerHTML' })
        })

    </script>

</body>
</html>